* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-image: url('acess.jpg');
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-card {
    background: #fff;
    width: 100%;
    max-width: 360px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}
.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: # 8b5a2b;
    color: white;
    border: none;
    border-radius: 5px;
}

@media (max-width: 480px) {
    .login-card {
        padding: 20px;
    }

    .login-card h2 {
        font-size: 18px;
    }
}

img {
    width: 7.5%;
    padding-top: 0px;
}
.background-image {
    filter: brightness(50%);
}
h2 {
    color: white;
    font-size:35px;
    padding-top: 10px
}
p {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-container {
    background-color: white;
    margin: 0px 8px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
   height: 325px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: maroon;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
    color: blue;
}

hr {
    margin-top: 25px;
    opacity: 75%;
}

.create-btn {
    margin-top: 55px;
    width: 50%;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

