
.header {
    background-color: maroon;
    width: auto;
    padding: 7px 30px;
    padding-top: 1px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.container {
    display: flex;
    min-height: calc(100vh - 60px);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('acess.jpg');
     background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    width: 220px;
    background-color: rgb(163, 161, 161);
    padding: 20px;
    height: 450px;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: maroon;
    border-radius: 5px;
}
.sidebar a:hover {
    opacity: 70%;
}
.sidebar a.active {
    background: #ffffff;
}
.content {
    flex: 1;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(72, 0, 0, 0.3);
    border-left: 2px solid rgb(58, 1, 1);
}


.card h3 {
    color: maroon;
    margin-bottom: 10px;
}